.header {
  height: rem(56px);
  margin-bottom: rem(120px);
  margin-top: rem(10px);
  background-color: var(--mantine-color-body);
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 600;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.linkLabel {
  margin-right: rem(5px);
}
