/* Colors */
.color-999 {color: #999 !important;}
.color-777 {color: #777 !important;}
.color-555 {color: #555 !important;}
.color-333 {color: #333 !important;}
.color-fff {color: #fff !important;}
.color-blue {color: #1266c5 !important;}
.color-link {color: #4a90b1 !important;}
.color-icon:before {color: #b4c9d7 !important;}
.color-red, .color-red:before {color: #EB3349 !important;}

.facebook {color: #1266c5 !important;}
.twitter {color: #1da1f2 !important;}
.instagram {color: #EB3349 !important;}

.bg-fff {background: #fff !important;}
.bg-eee {background: #eee !important;}
.bg-333 {background: #333 !important;}

.bg-color {background: linear-gradient(to right, #980002, #ff0008) !important;}
