
@import '../../fonts/iransans.css';
body, * {font-family: 'IRANSans', 'Nunito', sans-serif;}
input, select, button {font-family: 'IRANSans', 'Nunito', sans-serif !important;}
body {direction:  rtl !important;text-align: right !important;}
label {text-align: right !important;}

.ltr {
    direction: ltr !important;
}

.text-left {text-align: right;}
.text-right {text-align: left;}

.main-links .list {
    display: flex;
    flex-direction: row;
}
#main-content .row {
    flex-direction: row;
}
#main-content .right-content, #main-content .left-content {
    padding: 0 30px;
}

.modal#donate-modal, .modal#login-modal  {
    left: unset;
    right: -2000px !important;
}
.show-modal#donate-modal, .show-modal#login-modal {right: 0 !important;}

@media screen and (max-width: 770px) {
	.display-2 {
        font-weight: 500;
        font-size: 50px;
        letter-spacing: 0.01px !important;
    }
    .display-3 {
        margin-top: 10px !important;
        font-size: 30px;
    }
    #main-content .right-content, #main-content .left-content {
        padding: 0 !important;
    }
}
